/* Zorg dat de afbeelding altijd de volledige breedte inneemt */
.background img {
  display: block;
  width: 100%; /* Neem de volledige breedte van de pagina */
  height: auto; /* Behoud de verhoudingen van de afbeelding */
}

/* Algemeen voor de tekstsecties */
.about-section, .mission-section {
  position: absolute; /* Plaats deze sectie boven de achtergrond */
  color: #fff; /* Witte tekst voor contrast */
  max-width: 700px; /* Beperk de breedte van de tekst */
  padding: 20px;
  border-radius: 10px; /* Rond de hoeken een beetje af */
}

/* Specifieke positionering */
.about-section {
  position: absolute;
  top: 230px;
  right: -30px;

  /* Tekststijl */
  font-size: 22px; /* Pas de tekstgrootte aan */
  line-height: 1.5; /* Zorg voor ruimte tussen de regels */
  font-weight: bold; /* Maak de tekst vetgedrukt */
  color: #333; /* Pas de tekstkleur aan */
}

.mission-section {
  position: absolute;
  top: 1100px;
  right: 700px;

  /* Tekststijl */
  font-size: 26px; /* Iets kleinere tekst */
  line-height: 1.8; /* Grotere regelafstand */
  font-weight: normal; /* Normale tekstdikte */
  color: #555; /* Iets lichtere kleur */
}
/* Promo video sectie */
.promo-video {
  position: absolute;
  bottom: -1670px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 520px;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Team sectie */
.team-section {
  position: absolute;
  bottom: -1950px;
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #333;
}

.team-section h3 {
  font-size: 34px;
  color: #ffcc00;
}